<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			id="org.phprc.eclipse.pti.core.launching.PHPToolLaunchType"
			delegate="org.eclipse.php.internal.debug.core.launching.PHPLaunchDelegateProxy"
			modes="run"
			name="PHP Tool Application"
			public="false"
			delegateName="PHP Tool Launch Tooling"
			delegateDescription="This Application Launcher supports running and debugging PHP applications.">
		</launchConfigurationType>
	</extension>
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			class="org.phpsrc.eclipse.pti.ui.preferences.PHPToolsPreferencePage"
			id="org.phpsrc.eclipse.pti.ui.preferences.PHPToolsPreferencePage"
			name="PHP Tools">
		</page>
		<page
			category="org.phpsrc.eclipse.pti.ui.preferences.PHPToolsPreferencePage"
			class="org.phpsrc.eclipse.pti.ui.preferences.PHPToolsLibraryPreferencePage"
			id="org.phpsrc.eclipse.pti.ui.preferences.PHPToolsLibraryPreferencePage"
			name="Library">
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			class="org.phpsrc.eclipse.pti.ui.preferences.PHPToolsPreferencePage"
			id="org.phpsrc.eclipse.pti.ui.propertyPages.PHPToolsPreferencePage"
			name="PHP Tools">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject">
				</adapt>
			</enabledWhen>
			<filter name="nature" value="org.eclipse.php.core.PHPNature" />
		</page>
	</extension>

	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.eclipse.ui.popup.any?after=additions">
			<menu
				id="org.phpsrc.eclipse.pti.ui.menus.phptools"
				label="PHP Tools"
				icon="icons/full/obj16/phpsrc.gif">
			</menu>
		</menuContribution>
	</extension>
</plugin>